@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F0F1;
  --foreground: #000000;
}

html,
body,
#root,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  color: #000000 !important;
  background: #F2F0F1 !important;
  font-family: 'Satoshi', sans-serif;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}


/* Force light theme site colors for all browsers to match your Opera design */
* {
  color: inherit;
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
